.title{font-size: 70px;
  color: #f4c2c2;
  padding-left: 70px;
  padding-right: 30px;
}

.cp{background-image: url("Coldplay/Coldplay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
  margin-top: 125px;}

.text1{font-size: 200px;
  font-weight: bolder;
  text-decoration: none;
  text-decoration-style: solid;
  color: #dcdcdc;
  letter-spacing: 63px;
  opacity: .7;
  padding-top: 140px;}

.img{background-image: url("Coldplay/pastel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 755px;}

.header{color: #ffffff;
  font-size: 80px;
  padding-top: 100px;
  padding-left: 30px;
  letter-spacing:40px;}

.history{font-size: 30px;}

.members{background-image: url("Coldplay/Coldplayc2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 755px;
}

.info1{font-size: 15px;
  color: #feb200;}

.team{
  height: 300px;
  width: 300px;
  margin: 10px 0px 0px 60px;
  display: inline;
}

.events{
  background-image: url("Coldplay/ghost.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

.oct{background-image: url("Coldplay/oct.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 50px;
}

.nov{
  background-image: url("Coldplay/nov.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 50px;
}

.date{font-size: 20px;
  margin-top: 30px;
  color: #000000;
}

.form{background-image: url("Coldplay/form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 755px;
  font-size: 30px;
}

.page-footer{background-image: url("Coldplay/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;}

.footer{height: 300px;
  padding-top: 60px;
  color: #000000;
  font-size: 50px;
}

.circle{height: 100px;
  width: 100px;
  border-radius: 50px;}

input, textarea{background: transparent;
border: none;}

i{padding-left: 65px;
padding-right: 65px;}

.copyright{color: #ffffff;
}
